---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';

const meta = {
  title: `${SITE.title} | Survive Your Show`,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <Hero image={{ src: import('~/assets/images/hero3.png'), alt: 'Podwrecked Hero Image' }}>
    <Fragment slot="title">
      <span class="text-highlight dark:text-white highlight">Survive Your Show!</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline font-semibold">What you learn will save your podcast!</span>
    </Fragment>
  </Hero>

  <LatestPosts
    title="Latest Episode"
    information={``}
    postIds={[
      'get-started-website-with-astro-tailwind-css.md',
      'how-to-customize-astrowind-to-your-brand.md',
      'useful-resources-to-create-websites.md',
      'astrowind-template-in-depth.md',
    ]}
  />
</Layout>
